/* App.css - グローバルなスタイル、背景画像も含む */
@import './reset.css';

.App {
  color: #fff;
  font-family: "Your-Christmas-Theme-Font", sans-serif;
}
.app-container {
  position: relative;
  z-index: 2;
  background-image: url(/public/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-width: 100%;
  padding: 20px;
  color: #fff;
  overflow-x: hidden;
}